In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('Data Chronic Kidney Disease.csv')

In [6]:
data.shape

(99, 25)

In [8]:
data.head(n=8)

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Eritrosit,Gumpalan Sel Plus,Bakteri,Glukosa Darah,...,Packed Cell,Jumlah Leukosit,Jumlah Eritrosit,Hipertensi,Diabetes Melitus,Penyakit Arteri,Nafsu Makan,Pedal Edema,Anemia,Kelas
normal,48.0,80.0,1.0,2.0,1.0,0.0,NaN,notpresent,notpresent,121.0,...,44.0,7800,05.02,yes,yes,no,good,no,no,ckd
normal,7.0,50.0,1.0,2.0,4.0,0.0,NaN,notpresent,notpresent,NaN,...,38.0,6000,NaN,no,no,no,good,no,no,ckd
normal,62.0,80.0,1.0,1.0,2.0,3.0,normal,notpresent,notpresent,423.0,...,31.0,7500,NaN,no,yes,no,poor,no,yes,ckd
abnormal,48.0,70.0,1.0,5.0,4.0,0.0,normal,present,notpresent,117.0,...,32.0,6700,03.09,yes,no,no,poor,yes,yes,ckd
normal,51.0,80.0,1.0,1.0,2.0,0.0,normal,notpresent,notpresent,106.0,...,35.0,7300,04.06,no,no,no,good,no,no,ckd
NaN,60.0,90.0,1.0,15.0,3.0,0.0,NaN,notpresent,notpresent,74.0,...,39.0,7800,04.04,yes,yes,no,good,yes,no,ckd
normal,68.0,70.0,1.0,1.0,0.0,0.0,NaN,notpresent,notpresent,100.0,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
abnormal,24.0,NaN,1.0,15.0,2.0,4.0,normal,notpresent,notpresent,410.0,...,44.0,6900,5,no,yes,no,good,yes,no,ckd

In [9]:
data.tail(n=8)

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Eritrosit,Gumpalan Sel Plus,Bakteri,Glukosa Darah,...,Packed Cell,Jumlah Leukosit,Jumlah Eritrosit,Hipertensi,Diabetes Melitus,Penyakit Arteri,Nafsu Makan,Pedal Edema,Anemia,Kelas
normal,56.0,70.0,1.0,15.0,4.0,1.0,abnormal,notpresent,notpresent,210.0,...,52.0,12500,05.06,no,no,no,good,no,no,ckd
abnormal,71.0,70.0,1.0,1.0,3.0,0.0,normal,present,present,219.0,...,33.0,5600,03.06,yes,yes,yes,good,no,no,ckd
abnormal,73.0,100.0,1.0,1.0,3.0,2.0,abnormal,present,notpresent,295.0,...,30.0,7000,03.02,yes,yes,yes,poor,no,no,ckd
normal,65.0,70.0,1.0,1.0,0.0,0.0,NaN,notpresent,notpresent,93.0,...,36.0,11900,03.09,no,yes,no,good,no,no,ckd
normal,62.0,90.0,1.0,15.0,1.0,0.0,NaN,notpresent,notpresent,94.0,...,NaN,NaN,NaN,yes,no,no,good,yes,yes,ckd
normal,60.0,80.0,1.0,1.0,1.0,1.0,NaN,notpresent,notpresent,172.0,...,36.0,NaN,NaN,no,yes,yes,poor,no,no,ckd
normal,65.0,60.0,1.0,15.0,1.0,0.0,NaN,notpresent,notpresent,91.0,...,32.0,9100,04.00,yes,yes,no,poor,yes,no,ckd
NaN,50.0,140.0,NaN,NaN,NaN,NaN,notpresent,notpresent,101,106.0,...,5800.0,02.03,yes,yes,no,poor,no,yes,ckd,NaN

In [10]:
data.describe() #descriptive statistics

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Glukosa Darah,Urea Darah,Sodium,Hemoglobin,Packed Cell
count,97.000000,97.000000,85.0,86.000000,86.000000,84.000000,84.000000,94.000000,64.000000,80.000000,72.000000
mean,56.020619,79.793814,1.0,6.825581,1.790698,0.666667,160.273810,59.402128,113.962500,11.777375,522.944444
std,15.451523,13.383711,0.0,7.199987,1.256665,1.320217,92.846856,57.128280,48.429699,5.140920,1881.447704
min,5.000000,50.000000,1.0,1.000000,0.000000,0.000000,31.000000,1.040000,3.040000,4.080000,14.000000
25%,48.000000,70.000000,1.0,1.000000,1.000000,0.000000,98.250000,24.250000,130.000000,9.080000,29.750000
50%,60.000000,80.000000,1.0,2.000000,2.000000,0.000000,139.000000,46.500000,133.500000,10.090000,33.000000
75%,67.000000,90.000000,1.0,15.000000,3.000000,0.250000,187.500000,76.750000,138.000000,12.052500,39.000000
max,82.000000,140.000000,1.0,25.000000,4.000000,5.000000,490.000000,391.000000,163.000000,32.000000,11000.000000

In [13]:
data['Tekanan Darah'].value_counts()

1.0    85
Name: Tekanan Darah, dtype: int64

In [14]:
data['Berat Jenis'].value_counts()

1.0     36
15.0    28
2.0     13
5.0      6
25.0     3
Name: Berat Jenis, dtype: int64

In [15]:
data['Usia'].value_counts()

70.0     31
80.0     30
90.0     15
100.0    11
60.0      7
140.0     1
110.0     1
50.0      1
Name: Usia, dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99 entries, normal to nan
Data columns (total 25 columns):
Sel Plus             97 non-null float64
Usia                 97 non-null float64
Tekanan Darah        85 non-null float64
Berat Jenis          86 non-null float64
Albumin              86 non-null float64
Gula                 84 non-null float64
Eritrosit            57 non-null object
Gumpalan Sel Plus    99 non-null object
Bakteri              97 non-null object
Glukosa Darah        84 non-null float64
Urea Darah           94 non-null float64
Serum Keratin        92 non-null object
Sodium               64 non-null float64
Kalium               63 non-null object
Hemoglobin           80 non-null float64
Packed Cell          72 non-null float64
Jumlah Leukosit      61 non-null object
Jumlah Eritrosit     67 non-null object
Hipertensi           99 non-null object
Diabetes Melitus     97 non-null object
Penyakit Arteri      97 non-null object
Nafsu Makan          99 non-null object
Pedal Edema          99 non-null object
Anemia               99 non-null object
Kelas                85 non-null object
dtypes: float64(11), object(14)
memory usage: 20.1+ KB

In [17]:
np.sum(data.isnull()) #number of NA for each variable

Sel Plus              2
Usia                  2
Tekanan Darah        14
Berat Jenis          13
Albumin              13
Gula                 15
Eritrosit            42
Gumpalan Sel Plus     0
Bakteri               2
Glukosa Darah        15
Urea Darah            5
Serum Keratin         7
Sodium               35
Kalium               36
Hemoglobin           19
Packed Cell          27
Jumlah Leukosit      38
Jumlah Eritrosit     32
Hipertensi            0
Diabetes Melitus      2
Penyakit Arteri       2
Nafsu Makan           0
Pedal Edema           0
Anemia                0
Kelas                14
dtype: int64

In [18]:
data.isnull().sum()

Sel Plus              2
Usia                  2
Tekanan Darah        14
Berat Jenis          13
Albumin              13
Gula                 15
Eritrosit            42
Gumpalan Sel Plus     0
Bakteri               2
Glukosa Darah        15
Urea Darah            5
Serum Keratin         7
Sodium               35
Kalium               36
Hemoglobin           19
Packed Cell          27
Jumlah Leukosit      38
Jumlah Eritrosit     32
Hipertensi            0
Diabetes Melitus      2
Penyakit Arteri       2
Nafsu Makan           0
Pedal Edema           0
Anemia                0
Kelas                14
dtype: int64

In [19]:
data.isnull().sum().sum()

335

In [21]:
#imputasi missing value data numerik
data['Usia'] = data['Usia'].fillna((data['Usia'].mean())) 
data['Tekanan Darah'] = data['Tekanan Darah'].fillna((data['Tekanan Darah'].median()))
data.isnull().any()

Sel Plus              True
Usia                 False
Tekanan Darah        False
Berat Jenis           True
Albumin               True
Gula                  True
Eritrosit             True
Gumpalan Sel Plus    False
Bakteri               True
Glukosa Darah         True
Urea Darah            True
Serum Keratin         True
Sodium                True
Kalium                True
Hemoglobin            True
Packed Cell           True
Jumlah Leukosit       True
Jumlah Eritrosit      True
Hipertensi           False
Diabetes Melitus      True
Penyakit Arteri       True
Nafsu Makan          False
Pedal Edema          False
Anemia               False
Kelas                 True
dtype: bool

In [23]:
# imputasi untuk data numerik yang lain
data['Nafsu Makan']=data['Nafsu Makan'].fillna(99)
data['Pedal Edema']=data['Pedal Edema'].fillna(111)
data.isnull().any()

Sel Plus              True
Usia                 False
Tekanan Darah        False
Berat Jenis           True
Albumin               True
Gula                  True
Eritrosit             True
Gumpalan Sel Plus    False
Bakteri               True
Glukosa Darah         True
Urea Darah            True
Serum Keratin         True
Sodium                True
Kalium                True
Hemoglobin            True
Packed Cell           True
Jumlah Leukosit       True
Jumlah Eritrosit      True
Hipertensi           False
Diabetes Melitus      True
Penyakit Arteri       True
Nafsu Makan          False
Pedal Edema          False
Anemia               False
Kelas                 True
dtype: bool

In [25]:
#imputasi data kategorik dengan modus
data['Eritrosit'] = data.fillna(data['Eritrosit'].value_counts().index[0])
data.isnull().any()

Sel Plus              True
Usia                 False
Tekanan Darah        False
Berat Jenis           True
Albumin               True
Gula                  True
Eritrosit            False
Gumpalan Sel Plus    False
Bakteri               True
Glukosa Darah         True
Urea Darah            True
Serum Keratin         True
Sodium                True
Kalium                True
Hemoglobin            True
Packed Cell           True
Jumlah Leukosit       True
Jumlah Eritrosit      True
Hipertensi           False
Diabetes Melitus      True
Penyakit Arteri       True
Nafsu Makan          False
Pedal Edema          False
Anemia               False
Kelas                 True
dtype: bool

In [26]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Sel Plus             False
Usia                 False
Tekanan Darah        False
Berat Jenis          False
Albumin              False
Gula                 False
Eritrosit            False
Gumpalan Sel Plus    False
Bakteri              False
Glukosa Darah        False
Urea Darah           False
Serum Keratin        False
Sodium               False
Kalium               False
Hemoglobin           False
Packed Cell          False
Jumlah Leukosit      False
Jumlah Eritrosit     False
Hipertensi           False
Diabetes Melitus     False
Penyakit Arteri      False
Nafsu Makan          False
Pedal Edema          False
Anemia               False
Kelas                False
dtype: bool

## Encode Labels

In [27]:
from sklearn.preprocessing import LabelEncoder

In [29]:
data['Hipertensi'] = LabelEncoder().fit_transform(data['Hipertensi'])
data['Diabetes Melitus'] = LabelEncoder().fit_transform(data['Diabetes Melitus'])
data.head()

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Eritrosit,Gumpalan Sel Plus,Bakteri,Glukosa Darah,...,Packed Cell,Jumlah Leukosit,Jumlah Eritrosit,Hipertensi,Diabetes Melitus,Penyakit Arteri,Nafsu Makan,Pedal Edema,Anemia,Kelas
normal,48.0,80.0,1.0,2.0,1.0,0.0,48,notpresent,notpresent,121.0,...,44.0,7800,05.02,4,1,no,good,no,no,ckd
normal,7.0,50.0,1.0,2.0,4.0,0.0,7,notpresent,notpresent,155.0,...,38.0,6000,yes,3,0,no,good,no,no,ckd
normal,62.0,80.0,1.0,1.0,2.0,3.0,62,notpresent,notpresent,423.0,...,31.0,7500,yes,3,1,no,poor,no,yes,ckd
abnormal,48.0,70.0,1.0,5.0,4.0,0.0,48,present,notpresent,117.0,...,32.0,6700,03.09,4,0,no,poor,yes,yes,ckd
normal,51.0,80.0,1.0,1.0,2.0,0.0,51,notpresent,notpresent,106.0,...,35.0,7300,04.06,3,0,no,good,no,no,ckd

## Standardize

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
data['Usia'] = StandardScaler().fit(data[['Usia']]).transform(data[['Usia']])
data['Packed Cell'] = StandardScaler().fit(data[['Packed Cell']]).transform(data[['Packed Cell']])
data.head()

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Eritrosit,Gumpalan Sel Plus,Bakteri,Glukosa Darah,...,Packed Cell,Jumlah Leukosit,Jumlah Eritrosit,Hipertensi,Diabetes Melitus,Penyakit Arteri,Nafsu Makan,Pedal Edema,Anemia,Kelas
normal,48.0,0.015645,1.0,2.0,1.0,0.0,48,notpresent,notpresent,121.0,...,-0.214550,7800,05.02,4,1,no,good,no,no,ckd
normal,7.0,-2.260641,1.0,2.0,4.0,0.0,7,notpresent,notpresent,155.0,...,-0.218280,6000,yes,3,0,no,good,no,no,ckd
normal,62.0,0.015645,1.0,1.0,2.0,3.0,62,notpresent,notpresent,423.0,...,-0.222633,7500,yes,3,1,no,poor,no,yes,ckd
abnormal,48.0,-0.743117,1.0,5.0,4.0,0.0,48,present,notpresent,117.0,...,-0.222011,6700,03.09,4,0,no,poor,yes,yes,ckd
normal,51.0,0.015645,1.0,1.0,2.0,0.0,51,notpresent,notpresent,106.0,...,-0.220146,7300,04.06,3,0,no,good,no,no,ckd

## Normalize

In [32]:
from sklearn.preprocessing import Normalizer

In [33]:
data['Usia'] = Normalizer().fit(data[['Usia']]).transform(data[['Usia']])
data['Packed Cell'] = Normalizer().fit(data[['Packed Cell']]).transform(data[['Packed Cell']])
data.head()

,Sel Plus,Usia,Tekanan Darah,Berat Jenis,Albumin,Gula,Eritrosit,Gumpalan Sel Plus,Bakteri,Glukosa Darah,...,Packed Cell,Jumlah Leukosit,Jumlah Eritrosit,Hipertensi,Diabetes Melitus,Penyakit Arteri,Nafsu Makan,Pedal Edema,Anemia,Kelas
normal,48.0,1.0,1.0,2.0,1.0,0.0,48,notpresent,notpresent,121.0,...,-1.0,7800,05.02,4,1,no,good,no,no,ckd
normal,7.0,-1.0,1.0,2.0,4.0,0.0,7,notpresent,notpresent,155.0,...,-1.0,6000,yes,3,0,no,good,no,no,ckd
normal,62.0,1.0,1.0,1.0,2.0,3.0,62,notpresent,notpresent,423.0,...,-1.0,7500,yes,3,1,no,poor,no,yes,ckd
abnormal,48.0,-1.0,1.0,5.0,4.0,0.0,48,present,notpresent,117.0,...,-1.0,6700,03.09,4,0,no,poor,yes,yes,ckd
normal,51.0,1.0,1.0,1.0,2.0,0.0,51,notpresent,notpresent,106.0,...,-1.0,7300,04.06,3,0,no,good,no,no,ckd